Flask==2.1.2
influxdb_client==1.36.0
matplotlib==3.5.1
numpy==1.21.5
order_book==0.6.0
pandas==1.4.3
prefect==2.8.0
python-dotenv==1.0.0
PyYAML==6.0
redis==4.4.2
requests==2.28.1
tardis_dev==2.0.0a13
prefect-dask==0.2.3
kucoin-python==1.0.11
cryptofeed==2.3.1
scipy==1.9.3
scipy==1.9.3
pytest==7.1.3
